[include]
  path = ~/.gitconfig.local

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
  st = status
  stat = status
  ci = commit
  co = checkout
  tree = log --graph --oneline --decorate --all
  pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  nuke-submodules = "!f() { git submodule update --init --recursive --force; }; f"

[push]
  default = simple

[merge]
  ff = false
  conflictstyle = diff3

[branch]
  autosetuprebase = always

[init]
  defaultBranch = main

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[diff]
  colorMoved = default

[color "decorate"]
  HEAD = cyan
  remoteBranch = red bold
  stash = yellow
  tag = blue bold

[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold

[color]
  ui = true

[commit]
  gpgsign = true

[interactive]
  diffFilter = diff-so-fancy --patch

[pager]
  show = diff-so-fancy | less --tabs=1,5 -RFX

[http]
  sslBackend = secure-transport

